# ETL Pipeline Preparation
Follow the instructions below to help you create your ETL pipeline.
### 1. Import libraries and load datasets.
- Import Python libraries
- Load `messages.csv` into a dataframe and inspect the first few lines.
- Load `categories.csv` into a dataframe and inspect the first few lines.

In [1]:
# import libraries
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# load messages dataset
messages = pd.read_csv('messages.csv')
messages.head()

,id,message,original,genre
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

In [3]:
# Count the number of unique ids
messages.id.nunique()

26180

In [4]:
messages.shape

(26248, 4)

In [5]:
# Number of duplicate rows based on id column
messages[messages.duplicated(keep='last')]

,id,message,original,genre
162,202,?? port au prince ?? and food. they need gover...,p bay pap la syen ak manje. Yo bezwen ed gouve...,direct
655,804,elle est vraiment malade et a besoin d'aide. u...,she is really sick she need your help. please ...,direct
709,862,What is the address of the radio station? I as...,Ki adres radyo a? Paske m bezwen al depoze dos...,direct
1407,1652,"please we need water, food and tents, we have ...","p jwen dlo, manje, tant pou nou demi nou gen 1...",direct
2130,2446,How much money did TV Latino American collect ...,Konbyen kob tv latino america ranmase miami,direct
2792,3217,"Sir or madam, I'm hungry, I cannot stand becau...",Mesye ou madam mwen grangou mwen pa menm kakan...,direct
2824,3250,I thought you gave my number and this was seri...,Mwen tepanse le nou tebay nimewo a se yon afse...,direct
3373,3882,"I am in Carefour Feuilles, Dkayet neighborhood...",Mwen nan kafou fy zon dekayt nou beswen dlo po...,direct
3851,4412,"Good evening staff of responsibles, please giv...",Bonswa staf responsab svp banm yon ti d paske ...,direct
4340,4956,"What we saw yesterday is a sign, you need to k...",a nou w la yo se sign yoy ou bezwen kon sa Jez...,direct
4521,5153,there are people in Delmas 32 who form an asso...,Ginyin yon paket moun delmas 32 ki forme organ...,direct
4629,5265,(Delmas 33 Charboniere infomatyon s'il vous pl...,"Delmas 33, charbonniere, information please.",direct
4892,5573,"If I would like to find a job in cepoz, what s...",Si mwen ta renmen jwen travay nan cepoz ki sa ...,direct
4950,5643,Good evening. we are writing to ask you for a ...,Bonswa nou ekri'w se pou nou mande'w yon ti d ...,direct
5071,5776,I would like some more informations about trav...,Mwen bezwen yon ti eksplikasyon konsne vwayaj ...,direct
5557,6327,jel2 Acte 5: 29 2chr7 Lev11 Ecl9 Ecl4 jos5 ch...,jel2 Acte 5 : 29 2chr7 Lev11 Ecl9 Ecl4 jos5 c...,direct
5606,6393,I'd like to sign up in the 4636 program please,Mwen ta renmen enskri nan program 46 36 sil vo...,direct
5696,6492,I'd like to know an email to find a job,Mwen ta remen konnen email pou jwenn jb,direct
5719,6515,I would like to find some informations about t...,Mwen ta renmen jwenn repons sou keksyon mwen t...,direct
5771,6573,"I am a victim. I need food, water and a radio.",Mwen se sinistre mmen bezwen manje dlo ak yon ...,direct
5877,6687,Tell the President to give the nation over to ...,Di prezidan remt peyi a bay Bondye.,direct
6843,7747,where we can paticipate in the law reorganizat...,ki kote nou ka patisipe nan dwa reyamenajman yo?,direct
6982,7892,Good morning!How are you doing my brothers whe...,Bonjou! Kman nou ye fr'm yo? Kil sikln nan te ...,direct
7036,7945,What can i do to protect my self if the earthq...,KI PREKOSYON POU M TA F SI TA W YON SKOUS AP P...,direct
7263,8190,"here,i'm i don't find medicin just resting to ...",Kote mwen ye a w pa jwenn oken sante se rete m...,direct
8143,9131,NOTES: this sms is not important because this ...,Wap kale kw pou di se moun serye ou konn pran ...,direct
9161,10286,Me and my family every time it rains you do no...,Mwen men ak fanmil chak fwa lapli tonbe tet no...,direct
10101,11503,HELP THE EARTHQUAKE VICTIMS IN HAITI http tiny...,NaN,social
10821,12416,"Wand to donate jackets , hot meals , non-peris...",NaN,direct
10826,12420,I can help deliver food to seniors who are tra...,NaN,direct
...,...,...,...,...
13061,15576,"Full Circle, my local, collecting supplies and...",NaN,social
13205,15760,Some herders now have their homes connected to...,NaN,news
13370,15938,But while floodwaters have subsided in some ar...,NaN,news
13644,16245,World Vision staff stationed in Jabouri immedi...,NaN,news
14403,17079,The slow pace of reconstruction along Japan's ...,NaN,news
14685,17385,On behalf of ACT members in Bangladesh Christi...,NaN,news
14836,17553,The last locust infestation in the Central Asi...,NaN,news
14849,17569,"BEIJING, Aug 16 (AFP) - Some 200 people are de...",NaN,news
15168,17919,"Starting in October 1999, severe food insecuri...",NaN,news
15535,18313,"BEIJING, Sep 24, 2008 (Xinhua via COMTEX News ...",NaN,news
16085,18925,They reported sporadic rains were still floodi...,NaN,news
16155,19003,"Before we take your general questions, I'd lik...",NaN,news
16280,19142,"As the harsh winter sets in, more people are i...",NaN,news
16768,19687,It was offshore about 130 km to the southeast ...,NaN,news
18247,21338,The Management Committee is composed of six me...,NaN,news
18901,22059,"Additionally, ointment to treat skin infection...",NaN,news
19624,22858,Any person who enters or exits at other points...,NaN,news
19753,23002,"After the 2011 elections, widespread rioting l...",NaN,news
19958,23229,* German Agro Action (GAA) reported that in th...,NaN,news
20875,24247,"As we approach Luabo, I get my first impressio...",NaN,news
20965,24347,In response to North Korea's devastating artil...,NaN,news
21358,24779,Shelter materials (thick polyesters) are being...,NaN,news
21359,24779,Shelter materials (thick polyesters) are being...,NaN,news
22027,25512,The flood situation has worsened with nearly 3...,NaN,news
23609,27296,The regime says the charter will clear the way...,NaN,news
24039,27768,An EU-backed French offensive against rebels r...,NaN,news
24647,28462,"To date, a total of 39 people suffering from E...",NaN,news
24855,28687,"At present, UNHCR has 2,500 additional tents a...",NaN,news
25155,29022,"In a field in Jallouzai, just inside Pakistan,...",NaN,news
25241,29119,Most victims (90 per cent) show little or no s...,NaN,news

In [6]:
# load categories dataset
categories = pd.read_csv('categories.csv')
categories.head()

   id                                         categories
0   2  related-1;request-0;offer-0;aid_related-0;medi...
1   7  related-1;request-0;offer-0;aid_related-1;medi...
2   8  related-1;request-0;offer-0;aid_related-0;medi...
3   9  related-1;request-1;offer-0;aid_related-1;medi...
4  12  related-1;request-0;offer-0;aid_related-0;medi...

In [7]:
# Number of unique ids
categories.id.nunique()

26180

In [8]:
categories.shape

(26248, 2)

In [9]:
categories[categories.duplicated(keep='last')]

          id                                         categories
655      804  related-2;request-0;offer-0;aid_related-0;medi...
2130    2446  related-1;request-0;offer-0;aid_related-0;medi...
2792    3217  related-1;request-1;offer-0;aid_related-1;medi...
3851    4412  related-1;request-1;offer-0;aid_related-1;medi...
4629    5265  related-2;request-0;offer-0;aid_related-0;medi...
4892    5573  related-0;request-0;offer-0;aid_related-0;medi...
4950    5643  related-1;request-1;offer-0;aid_related-1;medi...
5557    6327  related-2;request-0;offer-0;aid_related-0;medi...
5771    6573  related-1;request-1;offer-0;aid_related-1;medi...
6982    7892  related-1;request-0;offer-0;aid_related-0;medi...
8143    9131  related-0;request-0;offer-0;aid_related-0;medi...
10961  12589  related-1;request-0;offer-1;aid_related-1;medi...
11356  13059  related-1;request-1;offer-0;aid_related-1;medi...
12138  14073  related-1;request-0;offer-0;aid_related-1;medi...
12201  14246  related-2;request-0;offer-0;aid_related-0;medi...
12316  14592  related-2;request-0;offer-0;aid_related-0;medi...
12748  15169  related-1;request-0;offer-0;aid_related-0;medi...
13061  15576  related-1;request-0;offer-0;aid_related-1;medi...
13370  15938  related-1;request-0;offer-0;aid_related-0;medi...
14403  17079  related-1;request-0;offer-0;aid_related-1;medi...
14849  17569  related-1;request-0;offer-0;aid_related-1;medi...
15168  17919  related-1;request-0;offer-0;aid_related-1;medi...
15535  18313  related-1;request-0;offer-0;aid_related-0;medi...
18247  21338  related-0;request-0;offer-0;aid_related-0;medi...
18901  22059  related-1;request-1;offer-0;aid_related-1;medi...
19753  23002  related-1;request-0;offer-0;aid_related-1;medi...
19958  23229  related-1;request-0;offer-0;aid_related-1;medi...
21358  24779  related-1;request-0;offer-0;aid_related-1;medi...
21359  24779  related-1;request-0;offer-0;aid_related-1;medi...
23609  27296  related-1;request-0;offer-0;aid_related-0;medi...
24855  28687  related-1;request-0;offer-0;aid_related-1;medi...
25241  29119  related-1;request-0;offer-0;aid_related-1;medi...

In both datasets, I've considered the last row as unique and rest duplicates for all duplicate entries assuming the last row as the final message.

### 2. Merge datasets.
- Merge the messages and categories datasets using the common id
- Assign this combined dataset to `df`, which will be cleaned in the following steps

In [10]:
# merge datasets
df = pd.merge(messages, categories, on='id', how='inner')
df.head()

,id,message,original,genre,categories
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,related-1;request-0;offer-0;aid_related-0;medi...
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,related-1;request-0;offer-0;aid_related-1;medi...
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,related-1;request-0;offer-0;aid_related-0;medi...
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,related-1;request-1;offer-0;aid_related-1;medi...
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,related-1;request-0;offer-0;aid_related-0;medi...

In [11]:
df.id.nunique()

26180

In [12]:
df.shape

(26386, 5)

In [13]:
df[df.duplicated(keep='last')].shape

(170, 5)

### 3. Split `categories` into separate category columns.
- Split the values in the `categories` column on the `;` character so that each value becomes a separate column. You'll find [this method](https://pandas.pydata.org/pandas-docs/version/0.23/generated/pandas.Series.str.split.html) very helpful! Make sure to set `expand=True`.
- Use the first row of categories dataframe to create column names for the categories data.
- Rename columns of `categories` with new column names.

In [14]:
# create a dataframe of the 36 individual category columns
categories = df.categories.str.split(';', expand=True)
categories.head()

,0,1,2,3,4,5,6,7,8,9,...,26,27,28,29,30,31,32,33,34,35
0,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
1,related-1,request-0,offer-0,aid_related-1,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-1,floods-0,storm-1,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
2,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
3,related-1,request-1,offer-0,aid_related-1,medical_help-0,medical_products-1,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
4,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0

In [15]:
# select the first row of the categories dataframe
row = categories.loc[0, :]

# use this row to extract a list of new column names for categories.
# one way is to apply a lambda function that takes everything 
# up to the second to last character of each string with slicing
category_colnames = row.apply(lambda x: x[:-2])
print(category_colnames)

0                    related
1                    request
2                      offer
3                aid_related
4               medical_help
5           medical_products
6          search_and_rescue
7                   security
8                   military
9                child_alone
10                     water
11                      food
12                   shelter
13                  clothing
14                     money
15            missing_people
16                  refugees
17                     death
18                 other_aid
19    infrastructure_related
20                 transport
21                 buildings
22               electricity
23                     tools
24                 hospitals
25                     shops
26               aid_centers
27      other_infrastructure
28           weather_related
29                    floods
30                     storm
31                      fire
32                earthquake
33                      cold
34             other_weather
35             direct_report
Name: 0, dtype: object

In [16]:
# rename the columns of `categories`
categories.columns = category_colnames
categories.head()

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
1,related-1,request-0,offer-0,aid_related-1,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-1,floods-0,storm-1,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
2,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
3,related-1,request-1,offer-0,aid_related-1,medical_help-0,medical_products-1,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
4,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0

### 4. Convert category values to just numbers 0 or 1.
- Iterate through the category columns in df to keep only the last character of each string (the 1 or 0). For example, `related-0` becomes `0`, `related-1` becomes `1`. Convert the string to a numeric value.
- You can perform [normal string actions on Pandas Series](https://pandas.pydata.org/pandas-docs/stable/text.html#indexing-with-str), like indexing, by including `.str` after the Series. You may need to first convert the Series to be of type string, which you can do with `astype(str)`.

In [17]:
for column in categories:
    # set each value to be the last character of the string
    categories[column] = categories[column].apply(lambda x: x[-1])
    
    # convert column from string to numeric
    categories[column] = pd.to_numeric(categories[column])
categories.head()

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,1,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
# unique values in each category column
for col in categories.columns:
    print(f'{col}: {categories[col].unique()}')

related: [1 0 2]
request: [0 1]
offer: [0 1]
aid_related: [0 1]
medical_help: [0 1]
medical_products: [0 1]
search_and_rescue: [0 1]
security: [0 1]
military: [0 1]
child_alone: [0]
water: [0 1]
food: [0 1]
shelter: [0 1]
clothing: [0 1]
money: [0 1]
missing_people: [0 1]
refugees: [0 1]
death: [0 1]
other_aid: [0 1]
infrastructure_related: [0 1]
transport: [0 1]
buildings: [0 1]
electricity: [0 1]
tools: [0 1]
hospitals: [0 1]
shops: [0 1]
aid_centers: [0 1]
other_infrastructure: [0 1]
weather_related: [0 1]
floods: [0 1]
storm: [0 1]
fire: [0 1]
earthquake: [0 1]
cold: [0 1]
other_weather: [0 1]
direct_report: [0 1]

### 5. Replace `categories` column in `df` with new category columns.
- Drop the categories column from the df dataframe since it is no longer needed.
- Concatenate df and categories data frames.

In [19]:
# drop the original categories column from `df`
df.drop(['categories'], inplace=True, axis=1)

df.head()

,id,message,original,genre
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

In [20]:
# concatenate the original dataframe with the new `categories` dataframe
df = pd.concat([df, categories], axis=1)
df.head()

,id,message,original,genre,related,request,offer,aid_related,medical_help,medical_products,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,1,0,0,1,0,0,...,0,0,1,0,1,0,0,0,0,0
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,1,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [21]:
df.shape

(26386, 40)

### 6. Remove duplicates.
- Check how many duplicates are in this dataset.
- Drop the duplicates.
- Confirm duplicates were removed.

In [22]:
# check number of duplicates
df[df.duplicated(['id', 'message', 'original', 'genre'])].shape

(206, 40)

In [23]:
# drop duplicates
df.drop_duplicates(subset=['id', 'message', 'original', 'genre'], inplace=True)

In [24]:
# check number of duplicates
df.duplicated(['id', 'message', 'original', 'genre']).sum()

0

In [25]:
df.shape

(26180, 40)

### 7. Save the clean dataset into an sqlite database.
You can do this with pandas [`to_sql` method](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_sql.html) combined with the SQLAlchemy library. Remember to import SQLAlchemy's `create_engine` in the first cell of this notebook to use it below.

In [26]:
engine = create_engine('sqlite:///disaster_data.db')
df.to_sql('disaster_messages', engine, index=False)

### 8. Use this notebook to complete `etl_pipeline.py`
Use the template file attached in the Resources folder to write a script that runs the steps above to create a database based on new datasets specified by the user. Alternatively, you can complete `etl_pipeline.py` in the classroom on the `Project Workspace IDE` coming later.